#********************************************************************************************************************#
#                                            Implementation Constraints file for Mimas V2                            #
#********************************************************************************************************************#

#********************************************************************************************************************#
#                                            UCF for Waxwing Spartan 6 Development Board                             #
#********************************************************************************************************************#

CONFIG VCCAUX = "3.3" ;

######################################################################################################################
#                                               DIP Switches                                                         # 
######################################################################################################################
   
   NET "DIP1"         LOC = C17  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
    
   NET "DIP2"         LOC = C18  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
 
######################################################################################################################
#                                               LEDs                                                                 #
###################################################################################################################### 
    NET "LED1"              LOC = P15  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
    
    NET "LED2"              LOC = T18  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
