//! **************************************************************************
// Written by: Map P.20131013 on Sat Apr 30 09:15:23 2016
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "DIP1" LOCATE = SITE "C17" LEVEL 1;
COMP "DIP2" LOCATE = SITE "C18" LEVEL 1;
COMP "LED1" LOCATE = SITE "P15" LEVEL 1;
COMP "LED2" LOCATE = SITE "T18" LEVEL 1;
SCHEMATIC END;

