//! **************************************************************************
// Written by: Map P.20131013 on Wed May 04 19:15:41 2016
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "i<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "i<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "i<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "i<3>" LOCATE = SITE "D18" LEVEL 1;
COMP "i<4>" LOCATE = SITE "E18" LEVEL 1;
COMP "i<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "i<6>" LOCATE = SITE "F18" LEVEL 1;
COMP "i<7>" LOCATE = SITE "F17" LEVEL 1;
COMP "out" LOCATE = SITE "P15" LEVEL 1;
COMP "sel<0>" LOCATE = SITE "M18" LEVEL 1;
COMP "sel<1>" LOCATE = SITE "L18" LEVEL 1;
COMP "sel<2>" LOCATE = SITE "M16" LEVEL 1;
SCHEMATIC END;

