//! **************************************************************************
// Written by: Map P.20131013 on Thu May 05 14:35:32 2016
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "ref_clk" LOCATE = SITE "V10" LEVEL 1;
COMP "led" LOCATE = SITE "P15" LEVEL 1;
NET "ref_clk_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

